USE [master]
GO
/****** Object:  Database [dreamCoderBlog]    Script Date: 14-Jun-15 2:23:28 PM ******/
CREATE DATABASE [dreamCoderBlog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dreamCoderBlog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\dreamCoderBlog.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dreamCoderBlog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\dreamCoderBlog_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dreamCoderBlog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dreamCoderBlog]
GO
/****** Object:  StoredProcedure [dbo].[GetCommentByPid]    Script Date: 14-Jun-15 2:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetCommentByPid](@pid as int)
as
select c.cid,c.uid,c.pid,c.dateOfComment,c.comment,u.fName,u.lName,u.image from comment as c join userInfo as u on c.uid=u.uid where c.pid=@pid

GO
/****** Object:  StoredProcedure [dbo].[GetPostByPid]    Script Date: 14-Jun-15 2:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetPostByPid](@pid as int)
 as
select p.pid,p.title,p.post,u.fName,u.lName,u.about,u.image,p.dateOfPost,p.hitCount,p.status from post as p join userInfo as u on u.uid=p.uid where p.pid=@pid

GO
/****** Object:  StoredProcedure [dbo].[myPostPublish]    Script Date: 14-Jun-15 2:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[myPostPublish](@uid as int)
as
 select p.pid,p.title,p.post,u.fName,u.lName,u.about,u.image,p.dateOfPost,p.hitCount, p.status from post as p join userInfo as u on u.uid=p.uid where p.status='p' and u.uid=@uid order by p.dateOfPost desc

GO
/****** Object:  StoredProcedure [dbo].[myPostUnPublish]    Script Date: 14-Jun-15 2:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[myPostUnPublish](@uid as int)
as
 select p.pid,p.title,p.post,u.fName,u.lName,u.about,u.image,p.dateOfPost,p.hitCount, p.status from post as p join userInfo as u on u.uid=p.uid where p.status='S' and u.uid=@uid order by p.dateOfPost desc

GO
/****** Object:  StoredProcedure [dbo].[search]    Script Date: 14-Jun-15 2:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[search] (@search as varchar(50)) 
as
if @search='<p' or @search='</p' or @search='<a' or @search='</a' or @search='href'
or @search='src' or @search='class'or @search='http' or @search='https' or @search='<p>' 
or @search='</p>' or @search='<b>' or @search='<i>' or @search='</b>' or @search='</i>'
or @search='style'
begin
select p.pid, p.title, p.post, u.fName, u.lName, u.about, u.image, p.dateOfPost, p.hitCount
from post  as p join userInfo as u 
on u.uid=p.uid 
where p.status='p' and (p.post like '%'+@search+'%' or p.title like '%'+@search+'%' 
or u.fName like '%'+@search+'%' or u.lName like '%'+@search+'%' )
Union 
select p.pid, p.title, p.post, u.fName, u.lName, u.about, u.image, p.dateOfPost, p.hitCount
from post as p  join userInfo as u 
on u.uid=p.uid join
(select pid from comment where comment like '%'+@search+'%' group by pid)
c on p.pid=c.pid where p.status='p'
except
select p.pid, p.title, p.post, u.fName, u.lName, u.about, u.image, p.dateOfPost, p.hitCount
from post as p join userInfo as u 
on u.uid=p.uid where p.post like '%'+@search+'%' and p.status='p'
end
else
begin
select p.pid, p.title, p.post, u.fName, u.lName, u.about, u.image, p.dateOfPost, p.hitCount
from post  as p join userInfo as u 
on u.uid=p.uid 
where p.status='p' and (p.post like '%'+@search+'%' or p.title like '%'+@search+'%' 
or u.fName like '%'+@search+'%' or u.lName like '%'+@search+'%') 
Union 
select p.pid, p.title, p.post, u.fName, u.lName, u.about, u.image, p.dateOfPost, p.hitCount
from post as p  join userInfo as u 
on u.uid=p.uid join
(select pid from comment where comment like '%'+@search+'%' group by pid)
c on p.pid=c.pid where p.status='p'
end

GO
/****** Object:  Table [dbo].[comment]    Script Date: 14-Jun-15 2:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[comment](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[uid] [int] NOT NULL,
	[pid] [int] NOT NULL,
	[dateOfComment] [datetime] NULL,
	[comment] [varchar](max) NOT NULL,
 CONSTRAINT [PK_comment] PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[login]    Script Date: 14-Jun-15 2:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[login](
	[lid] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_login] PRIMARY KEY CLUSTERED 
(
	[lid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[post]    Script Date: 14-Jun-15 2:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[post](
	[pid] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](200) NULL,
	[post] [varchar](max) NOT NULL,
	[dateOfPost] [datetime] NULL,
	[hitCount] [int] NULL,
	[status] [varchar](1) NULL,
	[uid] [int] NOT NULL,
 CONSTRAINT [PK_post] PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[userInfo]    Script Date: 14-Jun-15 2:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[userInfo](
	[uid] [int] IDENTITY(1,1) NOT NULL,
	[fName] [varchar](50) NOT NULL,
	[lName] [varchar](50) NOT NULL,
	[about] [varchar](500) NULL,
	[image] [varchar](10) NULL,
	[lid] [int] NOT NULL,
 CONSTRAINT [PK_userInfo] PRIMARY KEY CLUSTERED 
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[mostRecentPost]    Script Date: 14-Jun-15 2:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[mostRecentPost] as
 select top 5 p.pid,p.title,p.post,u.fName,u.lName,u.about,u.image,p.dateOfPost,p.hitCount from post as p join userInfo as u on u.uid=p.uid where p.status='p' order by p.dateOfPost desc

GO
/****** Object:  View [dbo].[mostViewedPost]    Script Date: 14-Jun-15 2:23:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[mostViewedPost] as
 select top 5 p.pid,p.title,p.post,u.fName,u.lName,u.about,u.image,p.dateOfPost,p.hitCount from post as p join userInfo as u on u.uid=p.uid where p.status='p' order by p.hitCount desc

GO
SET IDENTITY_INSERT [dbo].[login] ON 

INSERT [dbo].[login] ([lid], [email], [password]) VALUES (1, N'yeasinmahi72@yahoo.com', N'arafat7218')
INSERT [dbo].[login] ([lid], [email], [password]) VALUES (3, N'tarikseu@gmail.com', N'tarik')
INSERT [dbo].[login] ([lid], [email], [password]) VALUES (4, N'ananna.rahman92@gmail.com', N'Ananna')
SET IDENTITY_INSERT [dbo].[login] OFF
SET IDENTITY_INSERT [dbo].[post] ON 

SET IDENTITY_INSERT [dbo].[post] OFF
SET IDENTITY_INSERT [dbo].[userInfo] ON 

INSERT [dbo].[userInfo] ([uid], [fName], [lName], [about], [image], [lid]) VALUES (1, N'Yeasin', N'Arafat', N'I am CSE student of AIUB', N'1.jpg', 1)
INSERT [dbo].[userInfo] ([uid], [fName], [lName], [about], [image], [lid]) VALUES (3, N'Tarik', N'Rahman', N'Software Engineer at Rahman IT Solutions', N'3.jpg', 3)
INSERT [dbo].[userInfo] ([uid], [fName], [lName], [about], [image], [lid]) VALUES (4, N'Ananna', N'Rahman', NULL, N'0.jpg', 4)
SET IDENTITY_INSERT [dbo].[userInfo] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_login]    Script Date: 14-Jun-15 2:23:29 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_login] ON [dbo].[login]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[comment] ADD  CONSTRAINT [DF_comment_dateOfDate]  DEFAULT (getdate()) FOR [dateOfComment]
GO
ALTER TABLE [dbo].[post] ADD  CONSTRAINT [DF_post_title]  DEFAULT ('untitled') FOR [title]
GO
ALTER TABLE [dbo].[post] ADD  CONSTRAINT [DF_post_dateOfPost]  DEFAULT (getdate()) FOR [dateOfPost]
GO
ALTER TABLE [dbo].[post] ADD  CONSTRAINT [DF_post_hitCount]  DEFAULT ((0)) FOR [hitCount]
GO
ALTER TABLE [dbo].[post] ADD  CONSTRAINT [DF_post_satatus]  DEFAULT ('s') FOR [status]
GO
ALTER TABLE [dbo].[userInfo] ADD  CONSTRAINT [DF_userInfo_image]  DEFAULT ('0.jpg') FOR [image]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_post] FOREIGN KEY([pid])
REFERENCES [dbo].[post] ([pid])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_comment_post]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_userInfo] FOREIGN KEY([uid])
REFERENCES [dbo].[userInfo] ([uid])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_comment_userInfo]
GO
ALTER TABLE [dbo].[post]  WITH CHECK ADD  CONSTRAINT [FK_post_userInfo] FOREIGN KEY([uid])
REFERENCES [dbo].[userInfo] ([uid])
GO
ALTER TABLE [dbo].[post] CHECK CONSTRAINT [FK_post_userInfo]
GO
ALTER TABLE [dbo].[userInfo]  WITH CHECK ADD  CONSTRAINT [FK_userInfo_login] FOREIGN KEY([lid])
REFERENCES [dbo].[login] ([lid])
GO
ALTER TABLE [dbo].[userInfo] CHECK CONSTRAINT [FK_userInfo_login]
GO
USE [master]
GO
