
section {
    width: 80%;
    margin: auto;
    text-align: left;
}
.radious {
    border-radius: 50%;
    height: 68px;
    margin: -20px -55px 0 0px;
    width: 68px;
    vertical-align: central;
}
.nameLabel {
    text-align: right;
    margin-right: 10px;
    
}
.blogTitle {
    font-size: 35px;
    text-align: center;
}
.dropDown {
    height: 35px;
    float: left;
    width: 25%;
    font-size: larger;
    margin: 0px 10px;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 5px;
}
.searchDiv {
    width: 50%;
    float: right;
    
}
.searchText {
    float: right;
    height: 25px;
    margin: 0px 10px;
    width: 40%;
    font-size: large;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 5px;
}

.blogMenu {
    margin: 25px 0px;
}
.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 9px 18px;
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   border-radius: 16px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 18px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   margin: 5px;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
.searchButton {
    float: right;
    margin: 0px 10px;
   border-top: 1px solid #9cd6a5;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#d4c0f0), to(#ffffff));
   background: -webkit-linear-gradient(top, #d4c0f0, #ffffff);
   background: -moz-linear-gradient(top, #d4c0f0, #ffffff);
   background: -ms-linear-gradient(top, #d4c0f0, #ffffff);
   background: -o-linear-gradient(top, #d4c0f0, #ffffff);
   padding: 6px 18px;
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   border-radius: 16px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 18px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.searchButton:hover {
   border-top-color: #d1d2de;
   background: #d1d2de;
   color: #030303;
   }
.searchButton:active {
   border-top-color: #385d75;
   background: #385d75;
   }
