
section {
    width: 80%;
    margin: auto;
    text-align: left;
}
.radious {
    border-radius: 50%;
    height: 68px;
    margin: -20px -55px 0 0px;
    width: 68px;
    vertical-align: central;
}
.nameLabel {
    text-align: right;
    margin-right: 10px;
    
}
.Button {
    background: papayawhip none repeat scroll 0 0;
    border-radius: 15px;
    float: left;
    font-size: larger;
    height: 40px;
    margin: 0px 25px 10px 0px;
    width: 120px;
}

